<div class="layout" id="app">
    <form action="/Home/Meeting" method="get">
        <input name="userName" placeholder="Please input username" required />
        <input name="meetingNumber" placeholder="Please input room number" />
        <input value="enter room" type="submit" />
    </form>
</div>
