<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="SJ.Nuget" value="https://nuget.sjfood.us/nuget" />
        <add key="NuGet.org v3" value="https://api.nuget.org/v3/index.json" />
        <add key="HangfirePro" value="https://nuget.hangfire.io/nuget/hangfire-pro/v3/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <HangfirePro>
            <add key="Username" value="ProtonTechnology" />
            <add key="ClearTextPassword" value="YM2Nx2m285Sfy5xv" />
        </HangfirePro>
    </packageSourceCredentials>
</configuration>
